@import "../../../../../../public/css/palette.scss";
.containerReleases {
  background: $dark-black;
  min-height: 600px;
  padding-bottom: 40px;
  .segment {
    .segmentTitle {
      color: $light-white;
      font-size: 36px;
      padding-top: 30px;
      width: 90%;
      margin-left: 5%;
    }
    .segmentLink {
      text-decoration: none;
      color: $light-white;
      text-align: center;
      font-size: 30px;
      width: 100%;
      padding-bottom: 30px;
      display: block;
    }
  }

  @media screen and (min-width: 428px) {
    border-radius: 20px;
  }
}
