@import "../../../../../../public/css/palette.scss";
.containerReleases {
  background: $dark-black;
  min-height: 600px;
  padding-bottom: 40px;
  .segment {
    .segmentTitle {
      color: $light-white;
      font-size: 36px;
      padding-top: 30px;
      width: 90%;
      margin-left: 5%;
    }
    .segmentItens {
      width: 90%;
      margin-left: 5%;
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .segmentItem {
        width: 140px;
        height: 200px;
        margin-bottom: 40px;
        cursor: pointer;
        .segmentItemImg {
          width: 100%;
          height: 100%;
          transition: all 0.8;
        }
      }
    }
    .segmentLink {
      text-decoration: none;
      color: $light-white;
      text-align: center;
      font-size: 30px;
      width: 100%;
      padding-bottom: 30px;
      display: block;
    }
    @media screen and (min-width: 428px) {
      .segmentItens {
        width: 98%;
        margin-left: 1%;
        .segmentItem {
          width: 180px;
          height: 280px;
        }
      }
    }
    @media screen and (min-width: 800px) {
      .segmentItens {
        width: 90%;
        margin-left: 5%;
        .segmentItem {
          width: 220px;
          height: 360px;
        }
      }
    }
    @media screen and (min-width: 992px) {
      .segmentItens {
        .segmentItem {
          width: 240px;
          height: 380px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }

  @media screen and (min-width:428px) {
    border-radius: 20px;
  }
}
