@import "../../../../../../public/css/palette.scss";

.dialogTitle {
  color: $dark-black;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.containerForm {
  margin-left: 32px;
  margin-right: 32px;
  width: calc(100% - 64px);
  margin-top: 50px;
  .formLabel {
    color: $dark-black-600;
    font-size: 24px;
    font-weight: 400;
  }
  .containerAlign {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    .input {
      width: 100%;
      border-radius: 5px 0px 0px 5px;
      border: 1px solid $light-blue;
      background: $light-white;
      box-shadow: 7px 7px 16px 1px $light-blue-250;
      height: 65px;
      line-height: 65px;
      padding-left: 10px;
      font-size: 24px;
    }
    .button {
        width: 90px;
        background: url("../../../../../../public/images/adm/form/iconMagnifyingGlass.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 65px;
        cursor: pointer;
        border: none;
    }
  }
}
