$light-blue: rgba(123, 192, 255, 1);
$light-blue-250: rgba(123, 192, 255, 0.25);
$light-blue-600: rgba(123, 192, 255, 0.6);
$light-blue-800: rgba(123, 192, 255, 0.8);

$light-white: rgba(255, 255, 255, 1);
$light-white-300: rgba(255, 255, 255, 0.3);
$light-white-800: rgba(255, 255, 255, 0.8);
$light-white-900: rgba(255, 255, 255, 0.9);


$dark-black: rgba(0, 0, 0, 1);
$dark-black-600: rgba(0, 0, 0, 0.6);
$dark-black-700: rgba(0, 0, 0, 0.7);
$dark-black-900: rgba(0, 0, 0, 0.9);

$gray: rgba(90,90,90,1);
