.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin-bottom: 80px;
  margin-top: 40px;
  .mainComponent {
    width: 100%;
    margin-bottom: 120px;
  }
  .sideBar {
    width: 100%;
  }
  @media screen and (min-width: 428px) {
    width: 90%;
    margin-left: 5%;
  }
  @media screen and (min-width: 1400px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: start;
    margin-top: 80px;
    .mainComponent {
      width: calc(100% - 460px);
      margin-right: 20px;
      margin-bottom: 0px;
    }
    .sideBar {
      width: 440px;
    }
  }
  @media screen and (min-width: 1800px) {
    width: 1700px;
    margin-left: calc(50% - 850px);
  }
}