@import "../../../../../../public/css/palette.scss";
.containerListingPage {
  background: $dark-black;
  min-height: 600px;
  margin-top: 80px;
  .containerListing {
    .listingTitle {
      color: $light-white;
      font-size: 36px;
      padding-top: 60px;
      width: 90%;
      text-align: center;
      margin-left: 5%;
    }
    @media screen and (min-width:428px) {
        
    }
  }

  @media screen and (min-width: 428px) {
    border-radius: 20px;
  }
}
