@import "../../../../../../public/css/palette.scss";

.dialogTitle {
  color: $dark-black;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.containerShares {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .share {
    text-align: center;
    border-radius: 25px;
    border: 1px solid $light-blue;
    background: $light-blue-800;
    height: 60px;
    line-height: 60px;
    width: 200px;
    color: $light-white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
      background: $light-blue-600;
    }
  }
}

.containerForm {
    margin-left: 32px;
    margin-right: 32px;
    width: calc(100% - 64px);
    margin-top: 40px;
    font-family: '__Merienda_9ceaa0', '__Merienda_Fallback_9ceaa0';
    
    .formLabel {
      color: $dark-black-600;
      font-size: 24px;
      font-weight: 400;
    }
    .containerAlign {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px; 
      .input {
        width: 100%;
        border-radius: 5px 0px 0px 5px;
        border: 1px solid $light-blue;
        background: $light-white;
        box-shadow: 7px 7px 16px 1px $light-blue-250;
        height: 65px;
        line-height: 65px;
        padding-left: 10px;
        font-size: 24px;
      }
    }
}



.containerDeletion{
    .deletionTitle{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .containerButtons{

    }
}
