@import "../../../../../public/css/palette.scss";
.containerGenderChoice {
  background: $dark-black;
  min-height: 400px;
  .genderenderChoice {
    width: 90%;
    margin-left: 5%;
    .genderTitle {
      text-align: center;
      font-size: 30px;
      padding-top: 50px;
      color: $light-white;
      margin-bottom: 20px;
    }
    .genderDetail {
      border-bottom: 1px solid $light-blue;
      width: 60%;
      margin-left: 20%;
    }
    .containerGender {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 40px;
      padding-bottom: 40px;
      .item {
        color: $light-white;
        border: 1px solid $light-blue-250;
        padding: 5px 20px;
        margin-bottom: 18px;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
      }
      .item:hover {
        background: $light-blue-600;
      }
      .selectedItem {
        background: $light-blue-600;
      }
    }
  }

  @media screen and (min-width: 428px) {
    border-radius: 20px;
  }
}

.containerResult {
  background: $dark-black;
  min-height: 400px;
  color: $light-white;
  margin-top: 40px;

  .resultTitle {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    line-height: 40px;
    strong {
      color: $light-blue;
    }
  }

  @media screen and (min-width: 428px) {
    border-radius: 20px;
  }
}

.containerPages {
  background: $dark-black;
  margin-top: 30px;
  color: $light-white;
  .pages {
    width: 90%;
    margin-left: 5%;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .pagePrev,
    .pageNext {
      border: 1px solid $light-white;
      padding: 8px 12px;
      cursor: pointer;
    }
    .pagePrev:hover,
    .pageNext:hover {
      color: $light-blue;
    }
    .page {
      border: 1px solid $light-white;
      padding: 8px;
      cursor: pointer;
    }
    .selectPag {
      background: $light-blue-800;
    }
    .page:hover {
      color: $light-blue;
    }
  }
  @media screen and (min-width: 500px) {
    .pages {
      width: 400px;
      margin-left: calc(50% - 200px);
    }
  }
  @media screen and (min-width: 700px) {
    .pages {
      width: 600px;
      margin-left: calc(50% - 300px);
      .page {
        padding: 15px 25px;
      }
      .pagePrev,
      .pageNext {
        padding: 15px 25px;
      }
    }
  }
}
