@import "../../../../../public/css/palette.scss";
.containerGenderChoice {
  background: $dark-black;
  min-height: 400px;
  .genderenderChoice {
    width: 90%;
    margin-left: 5%;
    .genderTitle {
      text-align: center;
      font-size: 30px;
      padding-top: 50px;
      color: $light-white;
      margin-bottom: 20px;
    }
    .genderDetail {
      border-bottom: 1px solid $light-blue;
      width: 60%;
      margin-left: 20%;
    }

    .containerLoading{
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .containerGender {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 40px;
      padding-bottom: 40px;
      .item {
        color: $light-white;
        border: 1px solid $light-blue-250;
        padding: 5px 20px;
        margin-bottom: 18px;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
      }
      .item:hover {
        background: $light-blue-600;
      }
      .selectedItem {
        background: $light-blue-600;
      }
    }
  }

  @media screen and (min-width: 428px) {
    border-radius: 20px;
  }
}

.containerResult {
  background: $dark-black;
  min-height: 400px;
  color: $light-white;
  margin-top: 40px;

  .resultTitle {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    line-height: 40px;
    strong {
      color: $light-blue;
    }
  }

  @media screen and (min-width: 428px) {
    border-radius: 20px;
  }
}
