@import "../../../../../../public/css/palette.scss";

.containerInfos {
  .title {
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .button {
      border-radius: 25px;
      border: 1px solid $light-blue;
      background: $light-blue-800;
      height: 63px;
      line-height: 63px;
      width: 200px;
      color: $light-white;
      font-size: 24px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        background: $light-blue-600;
      }
    }
  }
}
