.containerHome {
  background: url("../../../public/images/user/background/backgroundMobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  overflow: scroll;

  .test {
    position: relative;
  }

  @media screen and (min-width: 428px) {
    background: url("../../../public/images/user/background/backgroundTablet.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 992px) {
    background: url("../../../public/images/user/background/backgroundDesktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 1400px) {
    background: url("../../../public/images/user/background/backgroundDesktopFull.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 2000px) {
    width: 2000px;
    margin-left: calc(50% - 1000px);
  }
}
